.shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom,
      rgba(13, 13, 13, 1),
      transparent,
      transparent,
      rgb(13, 13, 13)
    ),
    linear-gradient(
      to right,
      rgba(13, 13, 13, 1),
      transparent,
      transparent,
      rgb(13, 13, 13) 120%
    );
  z-index: -1;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.titleEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Latest Episodes */

.gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

@media screen and (max-width: 527px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}

.ellip {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* topAiring  */

.topAiringGridcard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@media screen and (max-width: 528px) {
  .topAiringGridcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
