.gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

@media screen and (max-width: 527px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}
