.gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

@media screen and (max-width: 360px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

.ellip {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
