.gridEpisodes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

/* season */

.gridSeason {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* Related anime */

.gridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

@media screen and (max-width: 527px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}

.seasontitleEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellip {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.highlight-intro-outro {
  /* Add your custom styles to highlight the TimeSlider during the intro and outro */
  background-color: #ffcc00; /* Example: Yellow background */
}
